{{#if this.website}}
<h1>Generated Reports for <span>{{website}}</span></h1>
{{else}}
<h1>Configure urls <br><br> OR <br><br> use Hooks</h1>
{{/if}}
{{#if this.website}}
<table>
    <thead>
        <tr>
            <th>
                Report Date
            </th>
            <th>
                Files
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each dir}}
            <tr>
            <td>{{this.dirDate}}</td>
            <td>{{this.fileNames.length}}</td>
            <td>
                {{#if this.hasFiles}}
                    <a href='/archive?report={{this.dirName}}'>Download Zip</a>
                    {{!-- <a href='/pushToAzure?report={{this.dirName}}'>Push to Azure</a> --}}
                {{/if}}
                <a href='/archive?type=delete&report={{this.dirName}}'>Delete</a>
            </td>
            </tr>
        {{/each}}
    </tbody>
</table>
<a href="/generateWebReport" class="primary">Trigger New</a>
{{/if}}