<h1>Get Reports for <span>{{website}}</span></h1>

{{#if hasURL}}
    <table>
        <thead>
            <tr>
                <th>Resource</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                {{#each websiteURLs}}
                    <tr>
                    <td>{{this}}</td>
                    <td><a href=/webReport?type=view&url={{this}}>Generate Report</a>
                        <a href=/webReport?type=download&url={{this}}>Download Report</a>
                    </td>
                    </tr>
                {{/each}}
        </tbody>
    </table>
{{else}}
    <h2>Unable to get Checklist!!</h2>
{{/if}}